[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
jupyterlab = "*"
moviepy = "*"
pygame = "*"
opencv-python = "*"
pytesseract = "*"
httplib2 = "*"
google-api-python-client = "*"
oauth2client = "*"
praw = "*"

[dev-packages]

[requires]
python_version = "3.8"
